@import './import.css';

.card-header {
    border-radius: 0 !important;
}

.round-btn {
    background: #fff;
    border: none;
    border-radius: 50%;
    width: 42px;
    height: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: #afafaf;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    transition: all 0.3s ease;
    font-size: 1.2rem;
    padding: 2px;
}

.round-btn i {
    border-radius: 50%;
    width: 38px;
    height: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.round-btn i:hover {
    background: #efefef;
    transition: all 0.3s ease;
}
